[Unit]
Description=SSH askpass service and passive FIDO2 touch monitor
PartOf=graphical-session.target
After=graphical-session-pre.target

[Service]
ExecStart=@bindir@/ssh-askpass-fido-service serve
Restart=on-failure
RuntimeDirectory=ssh-askpass-fido
RuntimeDirectoryMode=0700
NoNewPrivileges=true
LimitCORE=0
UMask=0077

[Install]
WantedBy=graphical-session.target
